doctype html 
html 
    head 
        title Sami Dance Academy 
        block scripts 
        block style 
    body 
        nav#navbar
            ul
                div#logo
                    img(src="https://cdn.pixabay.com/photo/2018/04/13/10/54/silhouette-3316203_1280.png")
                    | SDA
                    
                li #[a(href="/") Home ]
                li #[a(href="/") About ]
                li #[a(href="/") Services ]
                li #[a(href="/") Class info]
                li #[a(href="/contact") Contact us ]
    block content 
    footer#footer 
            | Copyright &copy 2023 samidanceacademy.com all right reserved
